.stage{
    background-color: palegreen;
    height: 300px;
    min-width: 800px;
}
.ball{
    height: 50px;
    width: 50px;
    position: absolute;
    background-color: red;
    border-radius: 50%;
}
@keyframes slidein{
    0%{
        left: 0;
    }
    100%{
        left: 800px;
    }
}
.stage:hover .ball{
    animation: slidein 2s ease-in-out 1s infinite alternate;
}
]